{
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
        "impliedStrict": true
      }
  },
  "rules": {
    "no-unused-expressions": 0
  }
}
